.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemonName {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}